doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Entorno 3D con Promodominus
    link(rel='stylesheet', type='text/css', href='../stylesheets/main.css')
    script(src="../scripts/lib/babylon.2.0.js")
    script(src="../scripts/lib/Oimo.js")
    script(src="../scripts/lib/cannon.js")

  body
    canvas(id="renderCanvas")
    script(src='../scripts/control.js')
    script(src='../scripts/stage1.js')
    script(src='../scripts/scene.js')
    script(src='../scripts/balltingo.js')


