doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Entorno 3D con Promodominus
    link(rel='stylesheet', type='text/css', href='../stylesheets/main.css')
    script(src="../scripts/bower_components/jquery/dist/jquery.min.js")
    script(src="../scripts/bower_components/babylonjs/dist/babylon.2.1.js")
    script(src="../scripts/bower_components/handjs/bin/hand.min.js")
    script(src="../scripts/bower_components/babylonjs/dist/Oimo.js")
    script(src="../scripts/bower_components/babylonjs/dist/cannon.js")

  body
    canvas(id="renderCanvas")
    .guiText
      span.text Score:
      span.score
      br
      span.text Lifes:
      span.lifes

    script(src='../scripts/control.js')
    script(src='../scripts/stage1.js')
    script(src='../scripts/scene.js')
    script(src='../scripts/balltingo.js')


