doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="../stylesheets/main.css")
    script(src="../dominuspy/bower_components/babylonjs/dist/babylon.2.1.js")
    script(src="../dominuspy/bower_components/handjs/hand.js")

  body
    canvas(id="renderCanvas")



